body{
    background-color: #CCCC99;
}
.center,.left,.right{float: left;}
.logo{
    width: 150px;
    height: 3em;
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("src/logo.png");
}
.nav-bar{
    width: 100%;
    background-color: #333333;
    text-align: center;
    line-height: 3em;
    height: 3em;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.select-box{
    width: 960px;
    line-height: 60px;
}
#parsing-main .center{width: 100%;}
html,body{height: 100%;}
.left{
    width: 160px;
    margin-left: -100%;
    position: relative;
    right: 160px;
 }
 .v-get{
     width: 150px;
     height: 3em;
     line-height: 3em;
     background-repeat: no-repeat;
     background-size: 100%;
     text-align: center;
 }
.right{
    background-color: brown;
    width: 160px;
    margin-right: -160px;
}
#parsing-main{
    height:800px;
    padding-left: 160px;
    padding-right: 160px;
}
.clearfix{
    clear:both;}


#parsing-bar > .select-box > *{
    line-height: 30px;
    height: 30px;
}
#parsing-bar > .select-box > input:first-child{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
}
#parsing-bar > .select-box > input:last-child{
    width: 80px;
    background-color: #72d572;
    border-radius: 10px;
}
#parsing-bar > .select-box > input:not(input:first-child):hover{
    background-color: #a3e9a4;
}
.logo-lie{
    background: #fff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #EEEEEE;
}
.logo-lie a{
    text-align: center;
}
.logo-lie:hover{
    box-shadow: rgb(11, 234, 235) 0px 0px 10px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
